.postdiv{
    border-style: solid;
    margin-top:10px;
    border-color:lightgray;
}

.element-div{
    padding-left: 20px;
}

.fa {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
  }
  
  .fa:hover {
    color: darkblue;
  }

  .outerdiv {
      margin-top: 20px !important;
      margin-bottom: 20px !important;
  }

  .addbtn {
    margin-top: 20px;
     margin-bottom: 20px; 
     display: block;
  }

  .maindiv {
    margin-left: 50px;
  }

  .postcontent {
    display: block;
    margin-bottom: 20px;
  }

  .contentLabel {
    display:block; 
    margin-top: 50px;
  }

  #follow{
    margin-top: 20px;
  }

  .celebrity {
   color: gold !important;
  }

  .message {
    margin-bottom: 20px;
  }

  #composebutton {
   margin-top: 20px;
  }

  .followers {
    float:left; 
    width:25%;
  }

  .follows {
   float:left;  
   width:50%;
  }

  .follow {
    clear:both;
  }